html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
:root {
  --main: #0288d1;
  --secondary: #f7f7f7;
  --line: #c1c1c18d;
  --light-gray: #dad9d9;
  --hover: #026dd1;
  --text-light-gray: #82848f;
  --text-gray: #323032;
  --light-blue: rgb(100, 181, 246);
}
.avatar {
  background: var(--main);
  height: 303px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding-top: 2.9rem;
  color: var(--secondary);
}
.avatar_photo {
  object-fit: cover;
  border-radius: 50px;
}

.name {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.title {
  font-size: 0.9rem;
  text-align: center;
  color: var(--light-gray);
}


.action_bar {
  display: flex;
  border-top: 1px solid var(--line);
  width: 100%;
  height: 100%;
  justify-content: center;
}

.action_bar_link {
  width: 101px;
  height: 58px;
  text-align: center;
  height: 100%;
  text-decoration: none;
  color: var(--secondary);
}

.action_bar_link:hover {
  background-color: var(--hover);
}

i {
  display: block;
  font-size: 0.75rem;
}

.container_main {
  background-color: var(--secondary);
  height: 100%;
  position: relative;
  width: 100%;
  padding: 1.7rem 4rem 1.5rem;
}
.container_main_info {
  display: flex;
  padding-top: 1rem;
  color: var(--text-gray);
}

a.container_main_info {
  text-decoration: none;
}
.container_main_info_text {
  padding-left: 1rem;
  width: 100%;
  border-bottom: 1px solid var(--line);
}

.type {
  padding-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--text-light-gray);
  font-size: 0.85rem;
}

.type.map {
  color: var(--light-blue);
  text-decoration: none;
}
.save_contact_link_wrapper {
  background-color: var(--secondary);
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.save_contact_link {
  text-decoration: none;
  display: flex;
  position: relative;
  background: rgb(100, 181, 246);
  height: 56px;
  width: 300px;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 14.1px 0.9px rgba(0, 0, 0, 0.24),
    0px 4px 19.6px 0.4px rgba(0, 0, 0, 0.16);
  color: #fff;
  margin-bottom: 2rem;
}

.text {
  text-decoration: none;
  color: var(--text-gray);
}
.text.social {
  color: var(--text-light-gray);
  font-size: 1.2rem;
}

.social {
  display: flex;
  gap: 1rem;
}
.save_contact_link_text {
  padding-left: 1rem;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.lato-medium {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}
